OA系统设想 - 原始需求信息提取
文件: OA系统设想.pptx
总幻灯片数: 2
==================================================

幻灯片 1
------------------------------
标题: 经营奖金（人员、金额），生产奖金（人员、金额）


==================================================

幻灯片 2
------------------------------
标题: 目的：透视项目流程，监控项目成本，监督项目管理过程，收集项目存档资料。

人员配置：项目负责人，专业1（设计人，参与人，复核，），专业2（设计人，参与人，复核，），专业3（设计人，参与人，复核，），专业4（设计人，参与人，复核，），专业5（设计人，参与人，复核，），专业6（设计人，参与人，复核，），专业7（设计人，参与人，复核，），专业8（设计人，参与人，复核，），审核，审定。

生产支出：用车，时间，公里数，费用（每公里2元）；住宿（凭证上传），人员，费用；交通（凭证上传），人员，费用。


==================================================

